---
---
* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
h2, h3 {
    font-weight: 400;
    color: #555555;
}
h2 {
    margin-top: 20px;
}
h3 {
    margin-top: 10px;
}
a, a:hover, a:active, a:visited {
    color: #b2b962;
}
a.dropdown-item {
    color: #000;
}
mark {
    /*background-color: rgba(102, 187, 197, .2);*/
    background-color: #eee;
}
code {
    color: inherit;
}
ul.text-list {
    padding-left: 5px;
    list-style-type: none;
}
ul.text-list > li::before {
    content: '–';
    margin-right: 10px;
    font-weight: 900;
}
.alert {
    border-radius: 0;
    /*border-left: 4px solid #6abcc8;*/
    border-left: 4px solid #dddddd;
    background-color: #f5f5f5;
    transition: .1s background-color ease-in-out;
}
.alert:hover {
    background-color: #eee;
}
.alert > a {
    font-weight: bold;
    /*color: #66bbc5;*/
}
span.new {
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    background-color: #b2b962;
}
blockquote.blockquote {
    font-size: 14px;
}
span.label {
    display: inline-block;
    border-radius: 3px;
    padding: 1px 4px;
    color: #666666;
    background-color: rgba(238, 238, 238, 0.2);
}
span.scratch {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: 2s all ease-in-out;
}
span.scratch.scratched,
span.scratch:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
}
#main {
    margin-bottom: 20px;
}
.panel {
    /*border-radius: 5px;*/
    /*border: 1px solid rgba(85, 157, 165, .2);*/
    border: 1px solid #eee;
    margin-bottom: 10px;
    overflow: hidden;
}
.panel-title {
    /*background-color: rgba(141, 173, 222, 0.2);*/
    background-color: rgba(185, 185, 185, 0.14)
}
.panel-title > span.label {
    /*background-color: #3191a5;*/
    background-color: #999999;
    color: #fff;
    border-radius: 4px;
}
.panel-title {
    /*color: #3191a5;*/
    color: #444;
    padding: 10px;
    font-weight: bold;
}
.panel-desc {
    font-size: 12px;
    font-weight: normal;
}
.panel-body {
    padding: 12px;
}
.panel * p {
    margin-bottom: 0;
}
span.area-chair {
    display: inline-block;
    /*padding: 5px 8px;*/
    padding-right: 10px;
    /*border-radius: 3px;*/
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 60px;
    font-size: 14px;
    min-width: 150px;
    /*background-color: #f5f5f5;*/
    border-radius: 6px;
    overflow: hidden;
}
span.area-chair-img {
    display: inline-block;
    /*border-radius: 5px;*/
    height: 60px;
    width: 60px;
    overflow: hidden;
    vertical-align: top;
}
span.area-chair-name {
    display: inline-block;
    height: 60px;
    margin-left: 5px;
    line-height: 30px;
    vertical-align: top;
}
span.area-chair-name > i {
    font-size: 11px;
    color: #999;
}
/* Header */
/* _includes/header.html */
#header {
    position: relative;
    padding-top: 40px;
    height: 250px;
    width: 100%;
    background-color: #000;
    background-image: url(../images/banner_background.jpg);
    background-size: cover;
    background-position-y: 90%;
    background-repeat: no-repeat;
}
#header-skyline {
    position: absolute;
    right: 5px;
    bottom: -1px;
}
#header-pattern {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*background-image: radial-gradient(rgba(255,255,255,.3) 15%, transparent 16%),*/
    /*radial-gradient(rgba(255,255,255,.3) 15%, transparent 16%);*/
    /*background-size:8px 8px;*/
    /*background-position: 0 0, 4px 4px;*/
    background: transparent repeating-linear-gradient(
            55deg,
            rgba(255, 255, 255, .1),
            rgba(255, 255, 255, .1) 1px,
            transparent 1px,
            transparent 4px
    );
}
#header-desc {
    margin-top: 20px;
    font-size: 15px;
    color: #d5efce;
    /*text-align: center;*/
}
#header-title {
    padding: 20px;
    /*border-radius: 8px;*/
    background-color: rgba(0,0,0,.25);
    border: 3px solid rgba(255,255,255,.8);
}
#header-license {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: rgba(255,255,255,.5);
}

/* Navigator*/
.navbar {
    font-size: 15px;
    margin-bottom: 10px;
}
.navbar-nav > li {
    margin-right: 20px;
}
#navigator {
    background-color: #fff;
    text-align: center;
    min-height: 60px;
}

/* Index */

/* Importance Dates */
#date-table-wrapper {
    border: 1px solid #ddd;
    border-radius: 4px;

    padding: 10px;
    background-color: #fff;
}
/* Footer */
#footer {
    background-color: #eee;
    color: #888;
    margin: 0;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}
#footer-acl-logo {
    height: 13px;
    margin-right: 5px;
}