---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Call for Tutorials</h1>
            <p>In progress</p>

        </div>
        <div class="col-md-4">
            {% include important_dates.html %}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>