---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Call for Demonstration Papers</h1>
            <p>We invite papers describing system demonstrations at NAACL HLT. Submissions may range from early prototypes to mature production-ready systems. Of particular interest are publicly available open-source or open-access systems. All accepted demos are published in a companion volume of the conference proceedings, and will be presented during a demo session at NAACL with an accompanying poster.</p>
            <p>Submissions should include:</p>
            <ul>
                <li>A paper describing the motivation and technical details of the system, including visual aids (e.g., screenshots, snapshots, or diagrams). See examples of recent accepted demo papers in ACL 2017, EMNLP 2017, NAACL 2016, ACL 2015, NAACL 2015, ACL 2014.</li>
                <li>Optionally, a short (~2 minute) screencast video demonstrating the system. This screencast will be used to evaluate the paper, but won't be published unless requested.</li>
                <li>Optionally, a link to a website that hosts or demonstrates your system.</li>
            </ul>
            <p>Reviewing will not be double-blind, so you needn't anonymize your papers.</p>
            <p>The paper, PDF only, must not be more than four pages, with one optional extra page for references. Please use the main NAACL paper style files. Since you are not required to anonymize the paper, you can uncomment the \naaclfinalcopy command from the LaTeX template.</p>
            <p>If you choose to submit a screencast, please upload the video to YouTube or another hosting site, and include the link in your softconf submission. (Contact the demo chairs for alternatives if you prefer not to upload your screencast video to the web.) Any additional links besides the screencast and website URLs should be included in the paper PDF.</p>
            <p>We will reject without review any papers that do not follow the official style guidelines and page limits. Papers must be submitted electronically by Feb 24th to NAACL’s demo submission page: <a href="http://www.softconf.com/naacl2018/naacl2018-demos" target="_blank">http://www.softconf.com/naacl2018/naacl2018-demos</a>.</p>

            <h3>Areas of Interest:</h3>
            <p>End-to-end systems:</p>
            <ul>
                <p>Information extraction and question answering</p>
                <p>Dialog or interactive systems</p>
                <p>Machine translation for consumer or industry applications</p>
                <p>Mobile applications</p>
                <p>NLP and speech technologies to support accessibility and assistive devices</p>
                <p>Technologies for the digital humanities</p>
                <p>Intelligent input systems</p>
            </ul>
            <p>Programs to automate linguistic analyses and aim NLP:</p>
            <uL>
                <li>Crowd-sourcing systems for collecting textual annotations</li>
                <li>Systems aiding research and development in NLP</li>
                <li>Interfaces and resources to support linguistic annotation</li>
                <li>Software architectures and reusable components</li>
                <li>Software tools for evaluation or error analysis</li>
                <li>Research toolkits implementing new or existing techniques</li>
                <li>Tools for data visualization</li>
            </uL>
            <p>Systems supporting NLP applications. The systems can be, but are not limited to:</p>
            <ul>
                <li>
                    Systems supporting learning or education, for example:
                    <ul>
                        <li>Visual interactive aids for students</li>
                        <li>Tutorial agents to support real-time feedback for learning</li>
                        <li>Instructional aids for topics in computational linguistics</li>
                        <li>Systems to score or critique textual student responses</li>
                        <li>Systems to mine textual or behavioral data for educational purposes</li>
                        <li>NLP and speech technologies for language learning or correction</li>
                    </ul>
                </li>
                <li>
                    Systems in healthcare, for example:
                    <ul>
                        <li>System to aid medical reporting</li>
                        <li>Knowledge extraction systems for electronic health records</li>
                        <li>Patient Queries Answering system</li>
                        <li>Medical images to text</li>
                        <li>Medical transcriber</li>
                    </ul>
                </li>
            </ul>

            <h3>Important Dates:</h3>
            <ul>
                <li><b>Paper submission deadline</b>: February 24th</li>
                <li><b>Notification of acceptance</b>: March 31st</li>
                <li><b>Camera-ready submission</b>: April 15th</li>
            </ul>

            <p>Demo Co-chairs (contact: naacl2018-demos@googlegroups.com):</p>
            <ul>
                <li>Yang Liu, University of Texas at Dallas</li>
                <li>Tim Paek, Apple</li>
                <li>Manasi Patwardhan, Tata Consultancy Services Research, India</li>
            </ul>
        </div>
        <div class="col-md-4">
            {% include important_dates.html %}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>