---
---
<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>The 16th Annual Conference of the North American Chapter of the Association for Computational
                Linguistics: Human Language Technologies will be held in <span class="scratch">a super fun U.S. City</span>, June 1 to June 16,
                2018 at <span class="scratch">top secret location that will be revealed at ACL</span>.
            <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                    <!--<h3>News</h3>-->
                    <!--<div class="alert"><a href="#">Main Conference Proceedings are now online</a>. We recommend downloading the-->
                        <!--proceedings before you arrive to the conference.</div>-->
                    <!--<div class="alert">Information for Presenters. See long and short talk time lengths and poster dimensions.</div>-->
                    <!--<div class="alert">Best reviewers. Thank you to all our reviewers. See this year's list of best-->
                        <!--reviewers recognized by area chairs.</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="col-md-4">
            {% include important_dates.html %}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
