---
---
<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>The 16th Annual Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies will be held in New Orleans, June 1 to June 6, 2018 at the Hyatt Regency New Orleans hotel.</p>
            
            <!--<div class="alert"><span class="new">IMPORTANT</span> <b>New ACL Author and Reviewer Guidelines</b>-->
                <!--<p></p>-->
                <!--<p>ACL conferences and TACL require that submissions be anonymized. A submission will not be considered anonymized if the authors post (or update) a non-anonymized preprint version within an anonymity period lasting from 1 month before the submission deadline until the time of notification (or withdrawal). Submissions will be rejected if not properly anonymized.</p>-->
                <!--<p><ul>-->
                    <!--<li><i>Anonymized</i> preprints within the anonymity period are allowed. This is currently only possible on certain platforms but ACL may consider using such a platform for all submissions in the future.</li>-->
                    <!--<li>Non-anonymized preprints <i>before</i> the anonymity period are allowed, although we encourage authors to wait to post them until <i>after</i> the anonymity period.</li>-->
                    <!--<li>If a non-anonymized preprint version exists, authors must declare its existence at submission time but should not cite it and are asked not to publicize it further during the anonymity period – the submitted paper should be as anonymous as possible.</li>-->
                <!--</ul></p>-->
                <!--<p>The notion of preprint is understood broadly to refer to any non-refereed paper posted online, including but not limited to preprint servers such as arXiv. Note that the rule applies only to preprints that authors post themselves, so it does not apply to (say) non-refereed proceedings volumes. The restriction on updating is to prevent authors from circumventing these rules by "flag planting" with a placeholder version over 1 month in advance.</p>-->
                <!--<p>See: <a href="https://www.aclweb.org/portal/content/new-policies-submission-review-and-citation" target="_blank">New Policies for Submission, Review and Citation</a></p>-->
            <!--</div>-->
            <div class="alert">Call for Demo Papers <a href="/call_for_demo.html">(More...)</a></div>
            <div class="alert">Added a new area "Theory and Formalisms" into Research Track <a href="/call_for_paper.html">(More...)</a></div>
            <div class="alert">NAACL 2018 Student Research Workshop (SRW) <a href="https://naacl2018-srw.github.io/" target="_blank">(More...)</a></div>
            <div class="alert">Call for Papers - Industry Track <a href="/industry.html">(More...)</a></div>
            <div class="alert">
                NAACL 2018 will be family friendly!</div>
            <div class="alert">First Joint Call for Tutorial Proposals: ACL/COLING/EMNLP/NAACL 2018 <a href="/call_for_tutorial.html">(More...)</a></div>
            <div class="alert">First Joint Call for Workshop Proposals: ACL/COLING/EMNLP/NAACL 2018 <a href="/call_for_workshop.html">(More...)</a> </div>

        </div>
        <div class="col-md-4">
            {% include important_dates.html %}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
