---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Industry Track: Call for Papers</h1>
            <h2>Description of the Industry Track</h2>
            <p>Language technologies and their applications are an integral and critical part of our daily lives.  The development of many of these technologies trace their roots to academic and industrial research laboratories where researchers invented a plethora of algorithms, benchmarked them against shared datasets and perfected the performance of these algorithms to provide plausible solutions to real-world applications. While a controlled laboratory setting is vital for a deeper scientific understanding of the language problem and the impact of algorithmic design choices on the performance of a technology, transitioning the technology to real-world industrial strength applications raises a different, but yet challenging, set of technical issues. Such issues do not receive the deserved attention in language technology forums and are often relegated to isolated instances and vagaries of specific systems, with little effort to learn from common experiences. </p>
            <p>We invite submissions describing innovations and implementations in all areas of speech and natural language processing technologies and systems that are relevant to industrial applications. The primary focus of this track is on papers that advance the understanding of, and demonstrate the effective handling of, practical issues related to the deployment of language processing technologies in real-world systems. This includes novel algorithms that address challenges of scalable and practical language processing systems, methodologies and experiences in adopting and adapting research advances in industrial applications, innovative industrial-scale open-source software and its impact on practical applications, and challenges of technology-driven evaluation metrics as they relate to application performance. This track provides an opportunity to highlight the key learnings and new research challenges posed by real world implementations such as:</p>
            <ul>
                <li>Engineering challenges encountered while implementing at scale</li>
                <li>Design of application-relevant training/evaluation datasets</li>
                <li>Methods and processes to upkeep system performance</li>
                <li>Methods and processes needed to leverage production logs to maintain and improve the performance of component technologies</li>
                <li>Design of offline and online evaluation methodologies</li>
                <li>Novel previously unsolved problems</li>
                <li>Novel practical solutions to known problems</li>
                <li>Experience papers describing learnings and best practices</li>
            </ul>
            <p>In addition, opinion/vision papers and papers highlighting interesting negative results related to real-world applications are also welcome.</p>
            <p>Submissions must clearly identify one of the following three areas they fall into:</p>
            <ul>
                <li><b>Deployed</b>: Must describe deployment of a system that solves a non-trivial real-world problem. The focus should be on describing the problem, its significance, decisions and tradeoffs made when making design choices for the solution, deployment challenges, and lessons learned.
                </li>
                <li><b>Discovery</b>: Must include results obtained from NLP applications in real world scenarios that result in insights that are interesting and actionable. These discoveries should reveal promising directions in their application areas, leading to further system or societal enhancements. For example, an actionable discovery from an analysis of call center transcripts may reveal that certain language choices negatively impact customer experience, leading to better training of service representatives and improved customer experience.</li>
                <li><b>Emerging</b>: Submissions do not have to describe deployed systems but must have clear applications to industry to distinguish them from NAACL research papers. They may also provide insight into issues and factors that affect the successful use and deployment of natural language processing. Papers that describe enabling infrastructure for large-scale deployment of natural language processing techniques also fall in this category.
                </li>
            </ul>

            <h2>Evaluation and decision criteria</h2>
            <p><b>Submissions will be reviewed in a double-blind manner</b> and assessed based on their novelty, technical quality, potential impact, and clarity. Submissions in the industry track should emphasize real-world implementations of natural language processing systems or provide insights based on real-world datasets with obvious industry impact. For papers that rely heavily on empirical evaluations, the experimental methods and results should be clear, well executed, and repeatable.</p>

            <h2>Paper Submissions</h2>
            <p><em>Note: the ACL is creating expanded publication guidelines which will be made available via the NAACL-HLT 2018 website and submission system when they are available. The ACL publication guidelines will supersede the guidelines below in case of conflict.</em></p>
            <p>Authors are invited to submit original, full-length (6 page) industry papers that are not previously published, accepted to be published, or under consideration for publication in any other forum.</p>
            <p>Manuscripts should be submitted electronically, in PDF format and formatted using the official NAACL-HLT 2018 style templates:</p>
            <ul>
                <li>LaTeX</li>
                <li>Microsoft Word</li>
            </ul>
            <p>Papers cannot exceed 6 pages in length (excluding references) and should be submitted through the NAACL-HLT 2018 industry track online submission system. Submissions of identical or closely related work to multiple NAACL-HLT tracks will be treated as duplicate submissions.</p>
            <h2>Presentation Requirement</h2>
            <p>All accepted papers must be presented at the conference to appear in the proceedings. Authors of papers accepted for presentation at NAACL-HLT 2018 Industry Track, which will run in parallel with the Research Track, must notify the track chairs by the camera-ready deadline as to whether the paper will be presented.</p>
            <p>Previous presentations of the work (e.g. preprints on arXiv.org) should be indicated in a footnote that should be excluded from the review submission, but included in the final version of papers appearing in the NAACL-HLT 2018 proceedings.</p>
            <p>At least one author of each accepted paper must register for NAACL-HLT 2018 by the early registration deadline.</p>
            <h2>Contact Information</h2>
            <p>Track chairs:</p>
            <ul>
                <li>Srinivas Bangalore (Interactions Labs)</li>
                <li>Jennifer Chu-Carroll (Elemental Cognition)</li>
                <li>Yunyao Li (IBM Research - Almaden)</li>
            </ul>
            <p>Email: <a href="mailto:naacl2018-industrial-track@googlegroups.com">naacl2018-industrial-track@googlegroups.com</a></p>
            <p>General chair: Marilyn Walker (University of California Santa Cruz)</p>
            <p>Email: <a href="mailto:naacl2018@googlegroups.com">naacl2018@googlegroups.com</a></p>

            <h2>Important Dates</h2>
            <p><b>Paper Submission Deadline</b>: Feb 20, 2018 (anywhere in the world)</p>
            <p><b>Acceptance Notification</b>: March 25, 2018 (anywhere in the world)</p>
            <p><b>Final Version Submission Deadline</b>: April 15, 2018 (anywhere in the world)</p>
        </div>
        <div class="col-md-4">
            {% include important_dates.html %}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>