---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Local Information for Visitors</h1>
            <p>Starting at the Hyatt, you can walk Northeast (following the river when looking at Google Maps), to follow the suggestions below in order. There are many amazing restaurants everywhere, but the ones we’ve listed are local favorites!</p>

            <h4>Places that are within short walking-distance to the Hyatt:</h4>
            <p><i>Champions Square & Lafayette Square</i>: Usually have live music</p>
            <p><i>Restaurants</i>: Willa Jean (try the chocolate chip cookie!), Maypop, Juan's Flying Burrito, Carmo (Carmo is one of the best Vegetarian restaurants in the city)</p>
            <p>
                <img class="img-fluid" src="images/travel/willa-jean-cookie.jpg">
                <img class="img-fluid" src="images/travel/juans-nachos.jpg">
                <img class="img-fluid" src="images/travel/local3.jpg">
            </p>

            <h4>Places that are a longer walk or short Uber ride away:</h4>
            <p><i>Restaurants</i>: Peche and Emeril’s. You will probably need a reservation for dinner at these places. Peche has the best gumbo and smothered catfish, but they are also known for their whole grilled fish.</p>
            <p><i>Museums</i>: Ogden, National WW2 Museum, Audubon Aquarium (and IMAX), Audubon Insectarium and Butterfly Garden</p>
            <p><i>Woldenberg Park</i>: Live music or festivals</p>
            <p>
                <img class="img-fluid" src="images/travel/local4.jpg">
                <img class="img-fluid" src="images/travel/local5.jpg">
                <img class="img-fluid" src="images/travel/local6.jpg">
            </p>


            <h4>Places that are a longer walk (about 25 minutes) or Uber ride away:</h4>
            <p>Saint Louis Cemetery #2: Some musicians, war heroes, politicians, and soldiers are buried here.</p>
            <p><i>Armstrong Park & Congo Square</i>: Music and festivals happen here.</p>
            <p><i>Saenger Theatre</i>: Music tours, Broadway</p>
            <p><i>The Roosevelt</i>: Inside this hotel is The Sazerac Bar, where the Sazerac cocktail was invented. An absolute must try. You should also try the Ramos Gin Fizz.</p>
            <p>
                <img class="img-fluid" src="images/travel/local7.jpg">
                <img class="img-fluid" src="images/travel/local9.jpg">
                <img class="img-fluid" src="images/travel/saenger.jpg">
            </p>

            <h4>Now we're entering the French Quarter (FQ)!</h4>
            <p>
                <img class="img-fluid" src="images/travel/local10.jpg">
                <img class="img-fluid" src="images/travel/local11.jpg">
            </p>
            <p><i>Jackson Square (left pic)</i>: The St. Louis Cathedral has beautiful stained glass. There's also the Mardi Gras, Katrina, and several other smaller historical museums nearby. All around the square are artists, musicians, and street performers.</p>
            <p><i>French Market (right pic)</i>: There are many shop stalls to buy all kinds of food, souvenirs, and art. Many of the shops are cash only.</p>
            <p><i>Preservation Hall</i>: Jazz!!! Many of the shows here are family-friendly.</p>
            <p><i>Restaurants</i>: All of the restaurants are great, but they're designed for tourists. So they're more expensive and not always as good as the food you'll find elsewhere in the city.</p>
            <p><i>Cafe Du Monde</i>: This is the #1 tourist destination in the Quarter, but the line can be hours long! We recommend trying a Morning Call (cash only) or CDM in other areas of the city if you don't want to wait in line. The thing to get here is a Cafe au Lait and an order of beignets (pronounced ben-yays). Don’t wear black and cover your beignets in as much powdered sugar as you possibly can!</p>
            <p><i>Lafitte's Blacksmith Shop Bar</i>: Famous bar built in the 1700s. It's haunted!</p>
            <p>
                <img class="img-fluid" src="images/travel/local12.jpg">
                <img class="img-fluid" src="images/travel/local13.jpg">
                <img class="img-fluid" src="images/travel/local14.jpg">
            </p>
            <p><i><b>Frenchmen Street</b></i>. Tourists always go to Bourbon Street (and you should check it out) but Frenchmen Street is the local’s favorite. Grab a bunch of friends and about $50 in cash and walk up and down Frenchmen all night. There's tons of great bars with live music: d.b.a., Spotted Cat, Blue Nile, Cafe Negril, Maison, Snug Harbor. The cash is just in case you need to pay a cover to go in. Weekday early shows are usually free. Weekend night covers are usually $10 for the first show and $20 for the second show. Some people pay the first cover and try to stay in until the second show starts. Be sure to stroll through the Frenchmen Art Market while you’re there.</p>

            <p>
                <img class="img-fluid" src="images/travel/local15.jpg">
                <img class="img-fluid" src="images/travel/local16.jpg">
            </p>

            <p><b>Beyond the CBD and FQ</b>: The French Quarter and Central Business District (CBD) are just the tip of the New Orleans iceberg! Below, we’ve listed some can’t miss sights and restaurants, but this is not an exclusive list. The <a href="https://www.neworleans.com/plan/" target="_blank">NOLA Visitor’s Page</a> has a lot of information that can help you plan your trip.</p>

            <p><b>Festivals</b>: New Orleanians love any excuse to have a good time, especially if it involves food and music and can be done outdoors! Be sure to check out the <a href="http://www.neworleansonline.com/neworleans/festivals/culinaryfestivals/oysterfest.html" target="_blank">New Orleans Oyster Festival</a> (June 2-3). If you’re staying in NO after NAACL, don’t miss <a href="http://www.neworleansonline.com/neworleans/lgbt/pride.html" target="_blank">New Orleans Pride</a> (June 8-10).</p>

            <p><b>Dancing</b>: There's always music playing somewhere in New Orleans, and New Orleanians love to dance!</p>

            <p><i>Mid-City Lanes Rock'n Bowl</i>: Live music, dancing, and bowling!</p>
            <p><i>The Maison and d.b.a. on Frenchmen Street</i>: All kinds of dancing at these two venues and sometimes the NOLA Swing Dancers pop up at d.b.a.</p>
            <p><i>Mulate's</i>: Cajun food and dancing nightly!</p>

            <p><b>More Music</b>: In addition to the music spots on Frenchmen Street, <a href="http://bbkings.com/new-orleans/" target="_blank">BB King's Blues Club</a> and <a href="http://www.rosysjazzhall.com/" target="_blank">Rosy's Jazz Hall</a> are also known for live music.</p>

            <p><b>Breweries</b>: NOLA has many craft breweries throughout the city: Wayward Owl Brewing Company, Second Line Brewing, Port Orleans Brewing Company, New Orleans Lager & Ale (NOLA) Brewing Company, Urban South Brewery, The Courtyard Brewery, Brieux Carré Brewing Company, Parleaux Brew Lab, Royal Brewery New Orleans, Old New Orleans Rum Distillery.</p>

            <p>NOLA Brewing Company and Old New Orleans Rum Distillery offer brewery tours.</p>

            <p><b>Food Trucks</b>: Typically found at the breweries, NOLA has the best food trucks. Taceaux Loceaux (pronounced Taco Loco and you must try the avocado fries) and Saigon Slim’s (best bánh mìs in the city) are the absolute best.</p>

            <p><b>Restaurants</b>: Eating out with friends and family is a daily event in New Orleans, so be prepared to wait for your table and meal at more popular restaurants. The wait is worth it!</p>

            <p><i>Surrey’s Uptown or Surrey’s Cafe & Juice Bar</i>: Try the Bananas Foster French Toast and a fresh-squeezed juice. The Juice Bar is the original location and the wait can sometimes be 2 hours long. The Uptown location is not as well known to tourists, so the wait is usually shorter.</p>
            <p><i>Satsuma</i>: Two locations and everything is delicious.</p>
            <p><i>HiVolt</i>: Try the giant muffins and ask the server to warm them for you. The banana chocolate chip is the best!</p>
            <p><i>Pagoda Cafe</i>: Make sure to try a pastry from the case. Outdoor seating only.</p>
            <p><i>Bakeries</i>: La Boulangerie, Gracious Bakery, Laurel Street Bakery</p>
            <p><i>Manhattan Jack’s</i>: Bakery, breakfast, lunch, and desserts</p>

            <p><i>Po-boys</i>: If the server asks if you want your po-boy “dressed”, they are asking if you want mayo, lettuce, tomatoes, and pickles on it.</p>
            <p><i>Guy’s</i>: The best in town and is cash only.</p>
            <p><i>Parkway Bakery & Tavern and Mahoney’s</i>: The more touristy spots. Be prepared for a long wait at Parkway. Other amazing, mostly sandwiches places: Stein’s, Butcher, Turkey and Wolf</p>

            <p><i>Pizza/Italian</i>: Arabella Casa di Pasta, Paladar 511, Pizza Domenica, Pizza Delicious, Slice, Nonna Mia’s, R & O’s, Fury’s, Mandina’s</p>
            <p><i>Vietnamese</i>: Lilly’s Cafe, MoPho, Frosty’s Cafe, Ba Chi</p>
            <p><i>Chinese</i>: Red’s Chinese, Bao & Noodle</p>
            <p><i>Thai</i>: La Thai</p>
            <p><i>Sushi</i>: Asuka Sushi & Hibachi - try the Aloha Roll.</p>
            <p><i>Poke Bowl</i>: Poke Loa</p>
            <p><i>Freret Street</i>: High Hat, Wayfare</p>
            <p><i>BBQ</i>: Blue Oak BBQ, Central City BBQStein’s</p>
            <p><i>Ethiopian</i>: Cafe Abyssinia</p>
            <p><i>Vegetarian</i>: Seed, Carmo</p>
            <p><i>Jamaican</i>: Johnny’s Jamaican Grill, Coco Hut, 14 Parishes</p>
            <p><i>Colombian</i>: Mais Arepas</p>
            <p><i>Hotdogs</i>: Yes, hotdogs! DatDog has multiple locations. Be adventurous and get the Chef’s Special.</p>
            <p><i>Paella</i>: Lola’s</p>

            <p><i>Middle Eastern/Mediterranean</i>:</p>
            <p>Shaya: You will probably need a reservation for dinner, but this place is amazing.</p>
            <p>1000 Figs: Delicious, but it’s very small so there will be a really long wait.</p>
            <p>Shawarma on the Go: Also delicious, but it’s inside of a gas station. This doesn’t really faze New Orleanians, but you might want to get this to go.</p>
            <p>Lebanon’s Cafe</p>
            <p>Mona’s Cafe</p>

            <p><i>Desserts</i>:</p>
            <p>Plum Street Snoballs: During summer, snoballs are a necessity. Everyone has their favorite snoball stand, but we recommend trying Plum Street. You can get a “stuffed” snoball - a snoball with ice cream inside, or another local favorite is to add condensed milk on top of their snoball. Cream flavors are delicious and mixing flavors can result in a new flavor! For example, lemon + chocolate cream = lemon chocolate doberge flavor. Kids love the rainbow flavor.</p>
            <p>District: Fancy donuts. The stuffed donuts are the best!</p>
            <p>Creole Creamery and Ice Cream 504: Cash only, ice cream</p>
            <p>Crepes a la Cart: They have breakfast and lunch/dinner crepes too. But the dessert crepes (especially with ice cream) are</p>
            <p>Bakery Bar: Cocktails and doberge (pronounced dough-bash) cake. Don’t leave NO without trying doberge!</p>

            <p><b>Museums</b>: The National WWII Museum, Blaine Kern's Mardi Gras World, HIstoric New Orleans Collection, Ogden Museum of Southern Art, The Presbytere, Cabildo, The Old U.S. Mint, Louisiana Children's Museum, Museum of Death, New Orleans Historic Voodoo Museum, Edgar Degas House, Museum of the Free People of Color, Southern Food and Beverage Museum, The House of Dance and Feathers, Rodrigue Studio, Contemporary Arts Center, The Michalopoulous Gallery, Dr. Bob Art, Museum of the American Cocktail, New Orleans Pharmacy Museum… and many more!</p>
            <p>
                <img class="img-fluid" src="images/travel/local18.jpg">
                <img class="img-fluid" src="images/travel/local19.jpg">
                <img class="img-fluid" src="images/travel/local20.jpg">
            </p>
            <p><b>Audubon Park and Zoo</b>: In addition to the Aquarium and Insectarium, Audubon Park and Zoo are a wonderful way to spend a beautiful day outside. The park is home to the city’s largest and most beautiful oak trees. The zoo is a favorite of locals and tourists of all ages.</p>
            <p>
                <img class="img-fluid" src="images/travel/local21.jpg">
                <img class="img-fluid" src="images/travel/local22.jpg">
            </p>
            <p><b>City Park</b>: City Park has something fun for everyone! New Orleans Museum of Art (NOMA) and the Sydney and Walda Besthoff Sculpture Garden are a must see. There are Gondola Rides and Surrey Rides around the park, fun for 2-4 people. Storyland is a popular outdoor activity for kids. City Putt is an outdoor New Orleans themed mini-golf course. And Morning Call (beignets) has a stand in the Park.</p>
            <p>
                <img class="img-fluid" src="images/travel/noma.jpg">
                <img class="img-fluid" src="images/travel/sculpture-garden.jpg">
                <img class="img-fluid" src="images/travel/gondola.jpg">
                <img class="img-fluid" src="images/travel/local23.jpg">
                <img class="img-fluid" src="images/travel/carousel.jpg">
                <img class="img-fluid" src="images/travel/beignets.jpg">
            </p>



        </div>
        <!--<div class="col-md-4"></div>-->
    </div>
</div>
{% include footer.html %}
</body>
</html>