---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Local Information for Visitors</h1>
            <p>From the Hyatt, you can move Northeast (or as we would say in NO, "along the river"), to follow the
                suggestions below in order.</p>

            <h4>Things that are within short walking-distance to the Hyatt</h4>
            <p><i>Champions Square & Lafayette Square</i>: Usually has live music</p>
            <p><i>Restaurants</i>: Willa Jean, Maypop, Juan's Flying Burrito, Carmo</p>
            <p>** There are tons of restaurants everywhere, but the ones listed here are the best!</p>
            </p>
            <p>
                <img class="img-fluid" src="images/travel/local1.jpg">
                <img class="img-fluid" src="images/travel/local2.jpg">
                <img class="img-fluid" src="images/travel/local3.jpg">
            </p>

            <h4>Things that are a longer walk or short Uber ride</h4>
            <p><i>Restaurants</i>: Peche, Emerils</p>
            <p><i>Museums</i>: Ogden, National WW2 Museum, Audubon Aquarium (and IMAX), Audubon Butterfly Garden &
                Insectarium</p>
            <p><i>Woldenberg Park</i>: Live music or festivals</p>
            <p>
                <img class="img-fluid" src="images/travel/local4.jpg">
                <img class="img-fluid" src="images/travel/local5.jpg">
                <img class="img-fluid" src="images/travel/local6.jpg">
            </p>

            <h4>Longer walk (~25 min) or Uber ride away</h4>
            <p>Saint Louis Cemetery #2 (some musicians, war heroes, politicians, soldiers are buried here)</p>
            <p><i>Armstrong Park & Congo Square</i>: Music and festivals</p>
            <p><i>Saenger Theatre</i>: Music tours, Broadway</p>
            <p><i>The Roosevelt</i>: Inside this hotel is The Sazerac Bar, where the Sazerac cocktail was invented. An
                absolute must try.</p>
            <p>
                <img class="img-fluid" src="images/travel/local7.jpg">
                <img class="img-fluid" src="images/travel/local8.jpg">
                <img class="img-fluid" src="images/travel/local9.jpg">
            </p>

            <h4>Now we're entering the French Quarter (FQ)!</h4>
            <p>
                <img class="img-fluid" src="images/travel/local10.jpg">
                <img class="img-fluid" src="images/travel/local11.jpg">
            </p>
            <p><i>Jackson Square </i>(left pic): The St. Louis Cathedral has beautiful stained glass. There's a Mardi
                Gras & Katrina museum. A bunch of other smaller historical museums around. All around the square are
                artists, musicians, and street performers.</p>
            <p><i>French Market</i>: Lots of shop stalls to buy all kinds of trinkets. Some of the owners will haggle
                the price down, especially if you can convince them you're a local.</p>
            <p><i>Preservation Hall</i>: Jazz music (believe it's family-friendly)</p>
            <p><i>Restaurants</i>: All of the restaurants are great, but they're designed for tourists. So they're more
                expensive and not always as good as the food you'd find elsewhere in the city. But it's all still
                delicious.</p>
            <p><i>The Cafe Du Monde</i> in the Quarter is the tourist thing to do, but the line is hours long sometimes.
                We recommend trying a Morning Call or CDM in other areas of the city if you don't want to wait in line.
            </p>
            <p><i>Lafitte's Blacksmith Shop Bar</i>: Famous bar built in the 1700s. It's haunted!</p>

            <p>
                <img class="img-fluid" src="images/travel/local12.jpg">
                <img class="img-fluid" src="images/travel/local13.jpg">
                <img class="img-fluid" src="images/travel/local14.jpg">
            </p>
            <p>Then we hit <i>Frenchmen Street</i> (below right). Tourists always go to Bourbon Street but this used to
                be NO’s best kept secret. Grab a bunch of friends and about $50 in cash and walk up and down Frenchmen
                at night. There's tons of great bars with live music: d.b.a., Spotted Cat, Blue Nile, Cafe Negril,
                Maison, Snug Harbor. The cash is in case you need to pay a cover to go in. But weekday early shows are
                usually free. Weekend night covers are usually $10 for the first show, $20 for the second show. Most
                people pay the first cover and stay in until the second show starts.</p>
            <p>
                <img class="img-fluid" src="images/travel/local15.jpg">
                <img class="img-fluid" src="images/travel/local16.jpg">
            </p>

            <h4>Social event options</h4>
            <ul>
                <li>Steamboat with Jazz band: <a href="http://www.steamboatnatchez.com/"
                                                 target="_blank">http://www.steamboatnatchez.com/</a></li>
                <li>Riverboat <a href="http://www.bigeasy.com/creolequeen"
                                 target="_blank">http://www.bigeasy.com/creolequeen</a></li>
            </ul>

            <h4>Places for other informal socializing</h4>
            <ul>
                <li>Dancing
                    <ul>
                        <li>Dixieland jazz bands</li>
                        <li>Zydeco Music blue grass (caller-type dancing)<br/>
                            <i>There's tons of zydeco and brass bands; easier to see brass bands on Frenchmen. Zydeco
                                isn't as popular in NO, so there's fewer options.</i>
                        </li>
                        <li>Cajun dancing spots: <a
                                href="http://www.neworleansonline.com/neworleans/music/cajundancing.html"
                                target="_blank">http://www.neworleansonline.com/neworleans/music/cajundancing.html</a><br/>
                            <i>Rock 'N Bowl is fun, Mulate's is on the list, and the Maison is on Frenchmen. </i></li>
                    </ul>
                </li>
                <li>Music
                    <ul>
                        <li>BB King’s Blues Club: <a href="http://bbkings.com/new-orleans/" target="_blank">http://bbkings.com/new-orleans/</a>
                        </li>
                        <li>Rosy’s Jazz Hall: <a href="http://www.rosysjazzhall.com/" target="_blank">http://www.rosysjazzhall.com/</a>
                        </li>
                    </ul>
                </li>
                <li>Breweries
                    <ul>
                        <li>Jax Brewery</li>
                        <li>Brewery tour: <a href="http://nolabrewing.com/events/" target="_blank">http://nolabrewing.com/events/</a>
                        </li>
                    </ul>
                </li>
                <li>Crawfish boil
                    <p><img class="img-fluid" src="images/travel/local17.jpg"></p>
                </li>
                <li>Latrobe Old Building</li>
                <li>Sugar Mill</li>
            </ul>

            <p>NOLA visitors page (with pictures!): <a href="https://www.neworleans.com/plan/" target="_blank">https://www.neworleans.com/plan/</a>
            </p>

            <h4>Categories</h4>
            <ul>
                <li>Restaurants
                    <ul>
                        <li>Seafood</li>
                        <li>Datdog places</li>
                        <li>Poboys places</li>
                        <li>Gumbo places</li>
                    </ul>
                </li>
                <li>Bars</li>
                <li>Museums
                    <ul>
                        <li>
                            <a href="http://www.neworleanscvb.com/listings/?action=display&listingID=11608&menuId=3911&hit=1"
                               target="_blank">A Bloody Mary Haunted Museum & Tour Company</a></li>
                        <li>Civil War Museum</li>
                        <li>New Orleans Museum of Arts (NOMA)</li>
                        <li>New Orleans Historic Voodoo Museum</li>
                    </ul>
                    <p>
                        <img class="img-fluid" src="images/travel/local18.jpg">
                        <img class="img-fluid" src="images/travel/local19.jpg">
                        <img class="img-fluid" src="images/travel/local20.jpg">
                    </p>
                </li>
                <li>Movie houses
                    <ul>
                        <li>Dinner theaters</li>
                    </ul>
                </li>
                <li>Walking
                    <ul>
                        <li>Riverside/Lakeside</li>
                    </ul>
                </li>
                <li>Parks
                    <ul>
                        <li>Left to right: Audubon park, zoo, and insectarium, city park
                            <p>
                                <img class="img-fluid" src="images/travel/local21.jpg">
                                <img class="img-fluid" src="images/travel/local22.jpg">
                                <img class="img-fluid" src="images/travel/local23.jpg">
                            </p>
                        </li>
                        <li><a href="https://www.nola.gov/parks-and-parkways/parks-squares/washington-square/" target="_blank">Washington Square Park</a></li>
                        <li>Sydney and Walda Besthoff Sculpture Garden
                            <p>
                                <img class="img-fluid" src="images/travel/local24.jpg">
                            </p>
                        </li>
                    </ul>

                </li>
            </ul>


        </div>
        <!--<div class="col-md-4"></div>-->
    </div>
</div>
{% include footer.html %}
</body>
</html>