---
---
<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <style>
        em {
            color: #aaa;
            font-size: 12px;
        }
        .col-md-6 * p {
            text-align: center;
        }
        img.avatar {
            margin-top: 5px;
            margin-bottom: 5px;
            max-width: 120px;
        }
    </style>
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="col-md-12">
        <h1><b>Conference Organization</b></h1>
        <p>The NAACL HLT 2018 conference is organized by the committees listed below.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        General Chair
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018@googlegroups.com">naacl2018@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/marilyn_walker.png"/>
                        <p>Marilyn Walker</p>
                        <p><em>University of California, Santa Cruz</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Program Co-Chairs
                        <div class="panel-desc"><i>Direct questions about reviewing and selection of the conference
                            program here</i></div>
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-program@googlegroups.com">naacl2018-program@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/heng_ji.png"/></p>
                                <p>Heng Ji</p>
                                <p><em>Rensselaer Polytechnic Institute</em></p>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/amanda_stent.png"/>
                                <p>Amanda Stent</p>
                                <p><em>Bloomberg</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Workshop Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-workshops-chairs@googlegroups.com">naacl2018-workshops-chairs@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/marie_meteer.png"/></p>
                                <p>Marie Meteer</p>
                                <p><em>Brandeis University</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/jason_williams.png"/></p>
                                <p>Jason Williams</p>
                                <p><em>Microsoft Research</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Tutorial Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-tutorial-chairs@googlegroups.com">naacl2018-tutorial-chairs@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/mohit_bansal.png"/></p>
                                <p>Mohit Bansal</p>
                                <p><em>University of North Carolina</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/rebecca_passonneau.png"/></p>
                                <p>Rebecca Passonneau</p>
                                <p><em>Pennsylvania State University</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Industry Track Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-industrial-track@googlegroups.com">naacl2018-industrial-track@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/srinivas_bangalore.png"/></p>
                                <p>Srinivas Bangalore</p>
                                <p><em>Interactions</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/jennifer_chu-carroll.png"/></p>
                                <p>Jennifer Chu-Carroll</p>
                                <p><em>Elemental Cognition</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/yunyao_li.png"/></p>
                                <p>Yunyao Li</p>
                                <p><em>IBM</em></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Demonstration Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-demos@googlegroups.com">naacl2018-demos@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/yang_liu.png"/></p>
                                <p>Yang Liu</p>
                                <p><em>University of Texas at Dallas</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/tim_paek.png"/></p>
                                <p>Tim Paek</p>
                                <p><em>Apple</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/manasi_patwardhan.png"/></p>
                                <p>Manasi Patwardhan</p>
                                <p><em>Tata Consultancy Services Research, India</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Publications Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-publications@googlegroups.com">naacl2018-publications@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/stephanie_lukin.png"/></p>
                                <p>Stephanie Lukin</p>
                                <p><em>Army Research Laboratory, Santa Monica</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/meg_mitchell.png"/></p>
                                <p>Meg Mitchell</p>
                                <p><em>Google</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Family-Friendly Program Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-ff@googlegroups.com">naacl2018-ff@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/chris_callison-burch.png"/></p>
                                <p>Chris Callison-Burch</p>
                                <p><em>University of Pennsylvania</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/beth_hockey.png"/></p>
                                <p>Beth Hockey</p>
                                <p><em>Intel</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Local Sponsorships and Exhibits Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-local-exhibits@googlegroups.com">naacl2018-local-exhibits@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/kristy.png"/></p>
                                <p>Kristy Hollingshead</p>
                                <p><em>Florida Institute for Human & Machine Cognition</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/parisa.png"/></p>
                                <p>Parisa Kordjamshidi</p>
                                <p><em>Tulane University</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Local Arrangements Chair
                        <div class="panel-desc"><i>Have a question about the conference venue, accommodations, or other questions about the New Orleans area?</i></div>
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-local-arrangements@googlegroups.com">naacl2018-local-arrangements@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/priscilla.png"/></p>
                                <p>Priscilla Rasmussen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Student Research Workshop Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-SRW@googlegroups.com">naacl2018-SRW@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/silvio_cordeiro.png"/></p>
                                <p>Silvio Ricardo Cordeiro</p>
                                <p><em>Federal University of Rio Grande do Sul</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/shereen_oraby.png"/></p>
                                <p>Shereen Oraby</p>
                                <p><em>University of California, Santa Cruz</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/umashanthi_pavalanathan.png"/></p>
                                <p>Umashanthi Pavalanathan</p>
                                <p><em>Georgia Institute of Technology</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/keigh_rim.png"/></p>
                                <p>Kyeongmin Rim</p>
                                <p><em>Brandeis University</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/swapna_somasundaran.png"/></p>
                                <p>Swapna Somasundaran (Faculty Advisor)</p>
                                <p><em>ETS Princeton</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/sam_bowman.png"/></p>
                                <p>Sam Bowman (Faculty Advisor)</p>
                                <p><em>New York University</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Publicity & Social Media Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-publicity@googlegroups.com">naacl2018-publicity@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/yonatan_bisk.png"/></p>
                                <p>Yonatan Bisk</p>
                                <p><em>University of Washington</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/wei_xu.png"/></p>
                                <p>Wei Xu</p>
                                <p><em>Ohio State University</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Website Chair
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-website@googlegroups.com">naacl2018-website@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/ying_lin.png"/></p>
                        <p>Ying Lin</p>
                        <p><em>Rensselaer Polytechnic Institute</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Student Volunteer Coordinator
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-volunteers@googlegroups.com">naacl2018-volunteers@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/lena_reed.png"/></p>
                        <p>Lena Reed</p>
                        <p><em>University of California, Santa Cruz</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-title">
                        Area Chairs
                    </div>
                    <div class="panel-body" class="area-chair-panel">
                        <div style="line-height: 2;">
                            <p><b>Cognitive Modeling/Psycholinguistics</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/morteza.png"></span>
                                    <span class="area-chair-name">Morteza Dehghani<br/><i>University of Southern California</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/kristy.jpg"></span>
                                    <span class="area-chair-name">Kristy Hollingshead Seitz<br/><i>Institute for Human & Machine Cognition</i></span>
                                </span></p>
                            <hr/>

                            <p><b>Dialogue and Interactive Systems:</b></p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/yun_nung.png"></span>
                                    <span class="area-chair-name">Yun-Nung (Vivian) Chen<br/><i>National Taiwan University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/gabriel.png"></span>
                                    <span class="area-chair-name">Gabriel Skantze<br/><i>KTH Royal Institute of Technology</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Discourse and Pragmatics</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/jacob.png"></span>
                                    <span class="area-chair-name">Jacob Eisenstein<br/><i>Georgia Institute of Technology</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/junyi.png"></span>
                                    <span class="area-chair-name">Junyi (Jessy) Li<br/><i>University of Pennsylvania</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/annie.jpg"></span>
                                    <span class="area-chair-name">Annie Louis<br/><i>University of Edinburgh</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/yi.png"></span>
                                    <span class="area-chair-name">Yi Yang<br/><i>Baidu Research</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Generation</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/white.png"></span>
                                    <span class="area-chair-name">Michael White<br/><i>Ohio State University</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Information Extraction</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/mausam.png"></span>
                                    <span class="area-chair-name">Mausam<br/><i>Indian Institute of Technology Delhi</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/dan_bikel.jpg"></span>
                                    <span class="area-chair-name">Dan Bikel<br/><i>Google</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/chia_hui.png"></span>
                                    <span class="area-chair-name">Chia-Hui Chang<br/><i>National Central University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/bonan_min.jpg"></span>
                                    <span class="area-chair-name">Bonan Min<br/><i>BBN</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/neveol.png"></span>
                                    <span class="area-chair-name">Aurélie Névéol<br/><i>CNRS</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/marius.png"></span>
                                    <span class="area-chair-name">Marius Pasca<br/><i>Google</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/schuetze.png"></span>
                                    <span class="area-chair-name">Hinrich Schütze<br/><i>Ludwig Maximilian University of Munich</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/sil.png"></span>
                                    <span class="area-chair-name">Avirup Sil<br/><i>IBM</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/strube.png"></span>
                                    <span class="area-chair-name">Michael Strube<br/><i>Heidelberg University</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Machine Learning for NLP</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/dyer.png"></span>
                                    <span class="area-chair-name">Chris Dyer<br/><i>Google DeepMind</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/ozan.png"></span>
                                    <span class="area-chair-name">Ozan Irsoy<br/><i>Cornell University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/tieyan.jpg"></span>
                                    <span class="area-chair-name">Tie-Yan Liu<br/><i>Microsoft Research</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/mooney.png"></span>
                                    <span class="area-chair-name">Raymond Mooney<br/><i>University of Texas at Austin </i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Machine Translation</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/carpuat.jpg"></span>
                                    <span class="area-chair-name">Marine Carpuat<br/><i>University of Maryland</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/cho.jpg"></span>
                                    <span class="area-chair-name">Kyunghyun Cho<br/><i>New York University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/marcu.png"></span>
                                    <span class="area-chair-name">Daniel Marcu<br/><i>Amazon</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/watanabe.jpg"></span>
                                    <span class="area-chair-name">Taro Watanabe<br/><i>Google</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/deyi.jpg"></span>
                                    <span class="area-chair-name">Deyi Xiong<br/><i>Soochow University</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>NLP Applications</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/tetreault.png"></span>
                                    <span class="area-chair-name">Joel Tetreault<br/><i>Grammarly</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Phonology, Morphology and Word Segmentation</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/foster.png"></span>
                                    <span class="area-chair-name">Jennifer Foster<br/><i>Dublin City University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/plank.png"></span>
                                    <span class="area-chair-name">Barbara Plank<br/><i>University of Groningen</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Question Answering</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/agichtein.jpg"></span>
                                    <span class="area-chair-name">Eugene Agichtein<br/><i>Emory University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/szpektor.png"></span>
                                    <span class="area-chair-name">Idan Szpektor<br/><i>Google</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Semantics</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/artzi.jpg"></span>
                                    <span class="area-chair-name">Yoav Artzi<br/><i>Cornell University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/diab.png"></span>
                                    <span class="area-chair-name">Mona Diab<br/><i>George Washington University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/duh.png"></span>
                                    <span class="area-chair-name">Kevin Duh<br/><i>Johns Hopkins University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/korhonen.png"></span>
                                    <span class="area-chair-name">Anna Korhonen<br/><i>University of Cambridge</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/may.png"></span>
                                    <span class="area-chair-name">Jonathan May<br/><i>University of Southern California</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/nakov.png"></span>
                                    <span class="area-chair-name">Preslav Nakov<br/><i>Qatar Computing Research Institute</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/roth.png"></span>
                                    <span class="area-chair-name">Dan Roth<br/><i>University of Pennsylvania</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/scott.png"></span>
                                    <span class="area-chair-name">Scott Wen-tau Yih<br/><i>Allen Institute for Artificial Intelligence</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Sentiment Analysis</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/agichtein.jpg"></span>
                                    <span class="area-chair-name">Smaranda Muresan<br/><i>Columbia University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/somasundaran.png"></span>
                                    <span class="area-chair-name">Swapna Somasundaran<br/><i>ETS Princeton</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Social Media Analysis and Computational Social Science</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/dredze.png"></span>
                                    <span class="area-chair-name">Mark Dredze<br/><i>Johns Hopkins University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/hajishirzi.png"></span>
                                    <span class="area-chair-name">Hannaneh Hajishirzi<br/><i>University of Washington</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/osborne.png"></span>
                                    <span class="area-chair-name">Miles Osborne<br/><i>Bloomberg</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/ritter.png"></span>
                                    <span class="area-chair-name">Alan Ritter<br/><i>Ohio State University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/rosenthal.png"></span>
                                    <span class="area-chair-name">Sara Rosenthal<br/><i>IBM</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/william.png"></span>
                                    <span class="area-chair-name">William Yang Wang<br/><i>University of California, Santa Barbara</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Speech</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/fosler_lussier.png"></span>
                                    <span class="area-chair-name">Eric Fosler-Lussier<br/><i>Ohio State University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/hakkani_tur.png"></span>
                                    <span class="area-chair-name">Dilek Hakkani-Tur<br/><i>Google</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/ostendorf.png"></span>
                                    <span class="area-chair-name">Mari Ostendorf<br/><i>University of Washington</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Summarization</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/giannokopoulos.jpg"></span>
                                    <span class="area-chair-name">George Giannokopoulos<br/><i>Institute of Informatics and Telecommunications</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/xiaojun_wan.png"></span>
                                    <span class="area-chair-name">Xiaojun Wan<br/><i>Peking University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/lu_wang.png"></span>
                                    <span class="area-chair-name">Lu Wang<br/><i>Northeastern University</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Tagging, Chunking, Syntax and Parsing</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/collins.png"></span>
                                    <span class="area-chair-name">Michael Collins<br/><i>Columbia University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/goldberg.png"></span>
                                    <span class="area-chair-name">Yoav Goldberg<br/><i>Bar Ilan University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/kawahara.png"></span>
                                    <span class="area-chair-name">Daisuke Kawahara<br/><i>Kyoto University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/pitler.png"></span>
                                    <span class="area-chair-name">Emily Pitler<br/><i>Google</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/anders.jpg"></span>
                                    <span class="area-chair-name">Anders Søgaard<br/><i>University of Copenhagen</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/villavicencio.png"></span>
                                    <span class="area-chair-name">Aline Villavicencio<br/><i>Federal University of Rio Grande do Sul</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Text Mining</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/kaiwei.png"></span>
                                    <span class="area-chair-name">Kai-wei Chang<br/><i>University of Virginia</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/jing.png"></span>
                                    <span class="area-chair-name">Jing Jiang<br/><i>Singapore Management University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/kozaeva.jpg"></span>
                                    <span class="area-chair-name">Zornitsa Kozareva<br/><i>Amazon</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/chin_yew.jpg"></span>
                                    <span class="area-chair-name">Chin-Yew Lin<br/><i>Microsoft Research Asia</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Theory and Formalisms</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/david.png"></span>
                                    <span class="area-chair-name">David Chiang<br/><i>University of Notre Dame</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/daniel.png"></span>
                                    <span class="area-chair-name">Daniel Gildea<br/><i>University of Rochester</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/satta.jpg"></span>
                                    <span class="area-chair-name">Giorgio Satta<br/><i>University of Padua</i></span>
                                </span>
                            </p>
                            <hr/>

                            <p><b>Vision, Robotics and Other Grounding</b>:</p>
                            <p>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/joyce.png"></span>
                                    <span class="area-chair-name">Joyce Chai<br/><i>Michigan State University</i></span>
                                </span>
                                <span class="area-chair">
                                    <span class="area-chair-img"><img width="60" src="{{ site.baseurl }}/images/people/ordonez.png"></span>
                                    <span class="area-chair-name">Vicente Ordonez<br/><i>University of Virginia</i></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>