---
---
<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <style>
        em {
            color: #aaa;
            font-size: 12px;
        }
        .col-md-6 * p {
            text-align: center;
        }
        img.avatar {
            margin-top: 5px;
            margin-bottom: 5px;
            max-width: 120px;
        }
    </style>
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="col-md-12">
        <h1><b>Conference Organization</b></h1>
        <p>The NAACL HLT 2018 conference is organized by the committees listed below.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        General Chair
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018@googlegroups.com">naacl2018@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/marilyn_walker.png"/>
                        <p>Marilyn Walker</p>
                        <p><em>University of California, Santa Cruz</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Program Co-Chairs
                        <div class="panel-desc"><i>Direct questions about reviewing and selection of the conference
                            program here</i></div>
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-program@googlegroups.com">naacl2018-program@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/heng_ji.png"/></p>
                                <p>Heng Ji</p>
                                <p><em>Rensselaer Polytechnic Institute</em></p>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/amanda_stent.png"/>
                                <p>Amanda Stent</p>
                                <p><em>Bloomberg</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Workshop Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-workshops-chairs@googlegroups.com">naacl2018-workshops-chairs@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/marie_meteer.png"/></p>
                                <p>Marie Meteer</p>
                                <p><em>Brandeis University</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/jason_williams.png"/></p>
                                <p>Jason Williams</p>
                                <p><em>Microsoft Research</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Industry Track Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-industrial-track@googlegroups.com">naacl2018-industrial-track@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/srinivas_bangalore.png"/></p>
                                <p>Srinivas Bangalore</p>
                                <p><em>Interactions</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/jennifer_chu-carroll.png"/></p>
                                <p>Jennifer Chu-Carroll</p>
                                <p><em>Elemental Cognition</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/yunyao_li.png"/></p>
                                <p>Yunyao Li</p>
                                <p><em>IBM</em></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Tutorial Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-tutorials@googlegroups.com">naacl2018-tutorials@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/mohit_bansal.png"/></p>
                                <p>Mohit Bansal</p>
                                <p><em>University of North Carolina</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/rebecca_passonneau.png"/></p>
                                <p>Rebecca Passonneau</p>
                                <p><em>Pennsylvania State University</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Demonstration Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-demos@googlegroups.com">naacl2018-demos@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/yang_liu.png"/></p>
                                <p>Yang Liu</p>
                                <p><em>University of Texas at Dallas</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/tim_paek.png"/></p>
                                <p>Tim Paek</p>
                                <p><em>Apple</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/manasi_patwardhan.png"/></p>
                                <p>Manasi Patwardhan</p>
                                <p><em>Tata Consultancy Services Research, India</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Publications Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-publications@googlegroups.com">naacl2018-publications@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/stephanie_lukin.png"/></p>
                                <p>Stephanie Lukin</p>
                                <p><em>Army Research Laboratory, Santa Monica</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/meg_mitchell.png"/></p>
                                <p>Meg Mitchell</p>
                                <p><em>Google</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Family-Friendly Program Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-ff@googlegroups.com">naacl2018-ff@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/chris_callison-burch.png"/></p>
                                <p>Chris Callison-Burch</p>
                                <p><em>University of Pennsylvania</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/beth_hockey.png"/></p>
                                <p>Beth Hockey</p>
                                <p><em>Intel</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Student Research Workshop Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-SRW@googlegroups.com">naacl2018-SRW@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/silvio_cordeiro.png"/></p>
                                <p>Silvio Ricardo Cordeiro</p>
                                <p><em>Federal University of Rio Grande do Sul</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/shereen_oraby.png"/></p>
                                <p>Shereen Oraby</p>
                                <p><em>University of California, Santa Cruz</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/umashanthi_pavalanathan.png"/></p>
                                <p>Umashanthi Pavalanathan</p>
                                <p><em>Georgia Institute of Technology</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/keigh_rim.png"/></p>
                                <p>Keigh Rim</p>
                                <p><em>Brandeis University</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/swapna_somasundaran.png"/></p>
                                <p>Swapna Somasundaran (Faculty Advisor)</p>
                                <p><em>ETS Princeton</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Publicity & Social Media Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-publicity@googlegroups.com">naacl2018-publicity@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/yonatan_bisk.png"/></p>
                                <p>Yonatan Bisk</p>
                                <p><em>University of Washington</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/wei_xu.png"/></p>
                                <p>Wei Xu</p>
                                <p><em>Ohio State University</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Website Chair
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-website@googlegroups.com">naacl2018-website@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/ying_lin.png"/></p>
                        <p>Ying Lin</p>
                        <p><em>Rensselaer Polytechnic Institute</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Student Volunteer Coordinator
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-volunteers@googlegroups.com">naacl2018-volunteers@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <p><img class="img-fluid mx-auto d-block avatar" src="{{ site.baseurl }}/images/people/lena_reed.png"/></p>
                        <p>Lena Reed</p>
                        <p><em>University of California, Santa Cruz</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-title">
                        Area Chairs
                    </div>
                    <div class="panel-body">
                        <div style="line-height: 2;">
                            <p><b>Cognitive Modeling/Psycholinguistics</b>: Morteza Dehghani, Kristy Hollingshead Seitz</p>
                            <p><b>Dialogue and Interactive Systems</b>: Yun-Nung (Vivian) Chen, Gabriel Skantze</p>
                            <p><b>Discourse and Pragmatics</b>: Jacob Eisenstein, Junyi (Jessy) Li, Annie Louis, Yi Yang</p>
                            <p><b>Generation</b>: Michael White</p>
                            <p><b>Information Extraction</b>: Mausam, Dan Bikel, Chia-Hui Chang, Bonan Min, Aurélie Névéol, Marius Pasca, Hinrich Schütze, Avirup Sil, Michael Strube</p>
                            <p><b>Machine Learning for NLP</b>: Chris Dyer, Ozan Irsoy, Tie-Yan Liu, Raymond Mooney</p>
                            <p><b>Machine Translation</b>: Marine Carpuat, Kyunghyun Cho, Daniel Marcu, Taro Watanabe, Deyi Xiong</p>
                            <p><b>NLP Applications</b>: Joel Tetreault</p>
                            <p><b>Phonology, Morphology and Word Segmentation</b>: Jennifer Foster, Barbara Plank</p>
                            <p><b>Question Answering</b>: Eugene Agichtein, Idan Szpektor</p>
                            <p><b>Semantics</b>: Yoav Artzi, Mona Diab, Kevin Duh, Anna Korhonen, Jonathan May, Preslav Nakov, Dan Roth, Scott Wen-tau Yih</p>
                            <p><b>Sentiment Analysis</b>: Smaranda Muresan, Swapna Somasundaran</p>
                            <p><b>Social Media Analysis and Computational Social Science</b>: Mark Dredze, Hannaneh Hajishirzi, Miles Osborne, Alan Ritter, Sara Rosenthal, William Yang Wang</p>
                            <p><b>Speech</b>: Eric Fosler-Lussier, Dilek Hakkani-Tur, Mari Ostendorf</p>
                            <p><b>Summarization</b>: George Giannokopoulos, Xiaojun Wan, Lu Wang</p>
                            <p><b>Tagging, Chunking, Syntax and Parsing</b>: Michael Collins, Yoav Goldberg, Daisuke Kawahara, Emily Pitler, Anders Søgaard, Aline Villavicencio</p>
                            <p><b>Text Mining</b>: Kai-wei Chang, Jing Jiang, Zornitsa Kozareva, Chin-Yew Lin</p>
                            <p><b>Vision, Robotics and Other Grounding</b>: Joyce Chai</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>