---
---
<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <style>
        em {
            color: #aaa;
            font-size: 12px;
        }
    </style>
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="col-md-12">
        <h1><b>Conference Organization</b></h1>
        <p>The NAACL HLT 2018 conference is organized by the committees listed below.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        General Chair
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018@googlegroups.com">naacl2018@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <p>Marilyn Walker</p>
                        <p><em>University of California, Santa Cruz</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Program Co-Chairs
                        <div class="panel-desc"><i>Direct questions about reviewing and selection of the conference
                            program here</i></div>
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-program@googlegroups.com">naacl2018-program@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Heng Ji</p>
                                <p><em>Rensselaer Polytechnic Institute</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Amanda Stent</p>
                                <p><em>Bloomberg</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Workshop Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-workshops-chairs@googlegroups.com">naacl2018-workshops-chairs@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Marie Meteer</p>
                                <p><em>Brandeis University</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Jason Wiliams</p>
                                <p><em>Microsoft Research</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Industry Track Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-industrial-track@googlegroups.com">naacl2018-industrial-track@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Srinivas Bangalore</p>
                                <p><em>Interactions</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Jennifer Chu-Carroll</p>
                                <p><em>Elemental Cognition</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Yun Yao Li</p>
                                <p><em>IBM</em></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Tutorial Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-tutorials@googlegroups.com">naacl2018-tutorials@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Mohit Bansal</p>
                                <p><em>University of North Carolina</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Rebecca Passonneau</p>
                                <p><em>Pennsylvania State University</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Demonstration Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-demos@googlegroups.com">naacl2018-demos@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Yang Liu</p>
                                <p><em>University of Texas at Dallas</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Tim Paek</p>
                                <p><em>Apple</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Manasi Patwardhan</p>
                                <p><em>Tata Consultancy Services Research, India</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Publications Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-publications@googlegroups.com">naacl2018-publications@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Stephanie Lukin</p>
                                <p><em>Army Research Laboratory, Santa Monica</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Meg Mitchell</p>
                                <p><em>Google</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Family-Friendly Program Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-ff@googlegroups.com">naacl2018-ff@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Chris Callison-Burch</p>
                                <p><em>University of Pennsylvania</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Beth Hockey</p>
                                <p><em>Intel</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Student Research Workshop Co-Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-SRW@googlegroups.com">naacl2018-SRW@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Silvio Ricardo Cordeiro</p>
                                <p><em>Federal University of Rio Grande do Sul</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Shereen Oraby</p>
                                <p><em>University of California, Santa Cruz</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Umashanthi Pavalanathan</p>
                                <p><em>Georgia Institute of Technology</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Keigh Rim</p>
                                <p><em>Brandeis University</em></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Swapna Somasundaran (Faculty Advisor)</p>
                                <p><em>ETS Princeton</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Publicity & Social Media Chairs
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-publicity@googlegroups.com">naacl2018-publicity@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Yonatan Bisk</p>
                                <p><em>University of Washington</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Wei Xu</p>
                                <p><em>Ohio State University</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Website Chair
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-website@googlegroups.com">naacl2018-website@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <p>Ying Lin</p>
                        <p><em>Rensselaer Polytechnic Institute</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Student Volunteer Coordinator
                        <div class="panel-desc">Contact: <a href="mailto:naacl2018-volunteers@googlegroups.com">naacl2018-volunteers@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <p>Lena Reed</p>
                        <p><em>University of California, Santa Cruz</em></p>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6">-->
                <!--<div class="panel">-->
                    <!--<div class="panel-title">-->
                        <!--Area Chairs-->
                        <!--<div class="panel-desc">Contact: <a href="mailto:">xxx@xxx.com</a></div>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<p>XXXX</p>-->
                        <!--<p><em>XXXXX</em></p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>