---
---
<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="col-md-12">
        <h1><b>Conference Organization</b></h1>
        <p>The NAACL HLT 2016 conference is organized by the committees listed below.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        General Chair
                        <div class="panel-desc">Contact: <a>naacl2018@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <p>Marilyn Walker</p>
                        <p><em>University of California Santa Cruz</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">
                        Program Co-Chairs
                        <div class="panel-desc"><i>Direct questions about reviewing and selection of the conference
                            program here</i></div>
                        <div class="panel-desc">Contact: <a>naacl2018-program@googlegroups.com</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Heng Ji</p>
                                <p><em>Rensselaer Polytechnic Institute</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p>Amanda Stent</p>
                                <p><em>Bloomberg</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>