---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Presenter Information</h1>
            <h2>Oral Presentations</h2>
            <p>TBA</p>
            <h2>Posters</h2>
            <p>Poster boards are 4 by 8 feet (121 x 242 cm) in size, and they can accommodate 2’ x 3’ or A0 sized posters in both landscape and portrait formats, or 4’x6’ in landscape format.
            </p>
        </div>

    </div>
</div>
{% include footer.html %}
</body>
</html>