---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Social Event</h1>
            <img class="img-fluid" src="images/social/social_event_1.png">
            <p>NAACL 2018 Social Event, Sunday, June 3rd, beginning at 6:45-7:00pm</p>
            <p>Catch the shuttle bus outside of the Hyatt Regency New Orleans, conference hotel, between 6:45 and 7pm.  This will take you the short ride to:</p>
            <h2>Blaine Kern's Mardi Gras World</h2>
            <p>Mardi Gras World is a world of wonders created for you by the people who bring Mardi Gras to life every year—the artists of Blaine Kern Studios. It’s all in one magical place where you can peek behind the curtain and see Mardi Gras in the making.</p>
            <p>Since 1947, Blaine Kern Studios has been as much a part of Carnival as the parades New Orleans loves. In fact, they create most of those parades, from concept through completion. They are <strong>the world’s leading makers of floats, sculpture and props</strong>. Their work and props are located in theme parks, casinos and amusement parks around the globe—from here to Shanghai.</p>
            <p><strong>Your event begins with a walk through of the float den</strong> among larger-than-life works of art. Visit The Studio, where you can watch artists designing, carving, painting and building for next year’s parades. Guests will <strong>explore props of every theme imaginable while enjoying passed hors d'oeuvres and a traditional New Orleans band, complete with a Grand Marshall.</strong></p>
            <p>Guests will then follow stilt walkers to make their way to the <strong>dockside River City Plaza</strong> and <strong>River City Ballroom</strong> for New Orleans' famous cuisine and libations and <strong>live Zydeco, funk, soul and R&B from one of the best performers in the city</strong>. This will surely be a night to remember!</p>
            <img class="img-fluid" src="images/social/social_event_2.png">
            <!--<img class="img-fluid" src="images/social/social_event_3.png">-->

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>