---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Sponsors</h1>
            <p>NAACL HLT 2018 very gratefully recognizes the following commitments in sponsorship:</p>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th>Diamond Sponsors</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="sponsor-item col-md-6 col-lg-4">
                                <a href="https://www.techatbloomberg.com" target="_blank"><img class="sponsor-img" src="images/sponsor/bloomberg.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-6 col-lg-4">
                                <a href="https://www.google.com" target="_blank"><img class="sponsor-img" src="images/sponsor/google.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-6 col-lg-4">
                                <a href="http://lab.toutiao.com" target="_blank"><img class="sponsor-img" src="images/sponsor/toutiao.png"/></a>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th>Platinum Sponsors</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="sponsor-item col-md-4 col-lg-3">
                                <a href="https://www.amazon.com" target="_blank"><img class="sponsor-img" src="images/sponsor/amazon.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-4 col-lg-3">
                                <a href="https://www.facebook.com" target="_blank"><img class="sponsor-img" src="images/sponsor/facebook.png"/></a>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th>Gold Sponsors</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://www.ebay.com/" target="_blank"><img class="sponsor-img" src="images/sponsor/ebay.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://www.grammarly.com" target="_blank"><img class="sponsor-img" src="images/sponsor/grammarly.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="http://www.research.ibm.com" target="_blank"><img class="sponsor-img" src="images/sponsor/ibm.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://home.kpmg.com/us/en/home.html" target="_blank"><img class="sponsor-img" src="images/sponsor/kpmg.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://www.oracle.com/index.html" target="_blank"><img class="sponsor-img" src="images/sponsor/oracle.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="http://www.poly-ai.com" target="_blank"><img class="sponsor-img" src="images/sponsor/polyai.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="http://tulane.edu" target="_blank"><img class="sponsor-img" src="images/sponsor/tulane.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://www.capitalone.com" target="_blank"><img class="sponsor-img" src="images/sponsor/capitalone.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://www.twosigma.com" target="_blank"><img class="sponsor-img" src="images/sponsor/twosigma.png"/></a>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th>Silver Sponsors</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://www.nuance.com/index.html" target="_blank"><img class="sponsor-img" src="images/sponsor/nuance.png"/></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th>Bronze Sponsors</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://imerit.net" target="_blank"><img class="sponsor-img" src="images/sponsor/imerit.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://www.isi.edu/technology_groups/insy/joining_us/researchers" target="_blank"><img class="sponsor-img" src="images/sponsor/isinlp.png"/></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th>Sponsors of the Student Research Workshop</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://www.nsf.gov" target="_blank"><img class="sponsor-img" src="images/sponsor/nsf.png"/></a>
                            </div>
                            <div class="sponsor-item col-md-3 col-lg-3">
                                <a href="https://cra.org/ccc/" target="_blank"><img class="sponsor-img" src="images/sponsor/ccc.png"/></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <h1>Sponsorship Opportunities</h1>
            <p>NAACL 2018 is seeking Sponsorships of all kinds ranging from
                large scale international companies to local sponsorships.</p>

            <p>The <a href="downloads/Sponsorship-2018-booklet.doc" target="_blank">sponsorship booklet</a> provides a useful overview of
                all the sponsorship opportunities.</p>

            <p>Please contact any of the following teams:</p>
            <ul>
                <li>International Sponsorship Team: Alexis Palmer (<a href="mailto:Alexis.Palmer@unt.edu">Alexis.Palmer@unt.edu</a>, Jason Baldridge (<a href="mailto:jasonbaldridge@gmail.com">jasonbaldridge@gmail.com</a>)</li>
                <li>Local Sponsorship Team (<a href="mailto:naacl2018-local-exhibits@googlegroups.com">naacl2018-local-exhibits@googlegroups.com</a>)</li>
                <li>ACL Office (<a href="mailto:sponsoring@aclweb.org">sponsoring@aclweb.org</a>)</li>
            </ul>

            <p>We will be happy to answer any questions.</p>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>