---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Sponsorship Opportunities</h1>
            <p>NAACL 2018 is seeking Sponsorships of all kinds ranging from
                large scale international companies to local sponsorships.</p>

            <p>The <a href="downloads/Sponsorship-2018-booklet.doc" target="_blank">sponsorship booklet</a> provides a useful overview of
                all the sponsorship opportunities.</p>

            <p>Please contact any of the following teams:</p>
            <ul>
                <li>International Sponsorship Team: Alexis Palmer (<a href="mailto:Alexis.Palmer@unt.edu">Alexis.Palmer@unt.edu</a>, Jason Baldridge (<a href="mailto:jasonbaldridge@gmail.com">jasonbaldridge@gmail.com</a>)</li>
                <li>Local Sponsorship Team (<a href="mailto:naacl2018-local-exhibits@googlegroups.com">naacl2018-local-exhibits@googlegroups.com</a>)</li>
                <li>ACL Office (<a href="mailto:sponsoring@aclweb.org">sponsoring@aclweb.org</a>)</li>
            </ul>

            <p>We will be happy to answer any questions.</p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>