---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include nav.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="alert"><b>Test <code>.alert</code>.</b> Sed ut perspiciatis, unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                    veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</div>
                <h1>Lorem Ipsum</h1>
                <p><b>Test <code>&lt;p&gt;</code>.</b> At vero eos et accusamus et iusto odio dignissimos ducimus, qui
                    blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi
                    sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi,
                    id est laborum et dolorum fuga.</p>
                <h2>Quis Autem</h2>
                <p><b>Test <code>&lt;p&gt;</code>.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum <span class="label">test label</span> dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.</p>

                <h3>Non Provident</h3>
                <p><b>Test <code>&lt;p&gt;</code>.</b> Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, <a href="#">test <code>&lt;a&gt;</code></a> qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui
                    dolorem eum fugiat, quo voluptas nulla pariatur?</p>

                <h3>Test Table</h3>
                <table class="table table-striped table-condensed">
                    <tr><td>First Call for Workhop Papers</td>
                        <td>November 20, 2015</td>
                    </tr>
                    <tr><td>Second Call for Workshop Papers</td>
                        <td>December 20, 2015</td>
                    </tr>
                    <tr><td>Workshop Paper Due Date</td>
                        <td>February 25, 2016</td>
                    </tr>
                    <tr><td>Notification of Acceptance</td>
                        <td>March 20, 2016</td>
                    </tr>
                    <tr><td>Camera-Ready Papers Due</td>
                        <td>March 30, 2016</td>
                    </tr>
                    <tr><td>Workshop Dates</td>
                        <td>June 16&ndash;17, 2016</td>
                    </tr>
                </table>

                <h3>Test List</h3>
                <ul class="text-list">
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </li>
                    <li>
                        Pellentesque pretium metus nec metus vestibulum vestibulum.
                    </li>
                    <li>
                        Donec consectetur ligula sed risus bibendum ultrices.
                    </li>
                    <li>
                        Integer sed enim tempor, bibendum ante vel, molestie dolor.
                    </li>
                    <li>
                        Donec lobortis libero eget commodo lacinia.
                    </li>
                    <li>
                        Vestibulum auctor urna vitae malesuada tincidunt.
                    </li>
                    <li>
                        <span class="label">W9</span> Donec molestie ligula nec ultricies malesuada.
                    </li>
                </ul>

                <h3>Test Blockquote</h3>
                <blockquote class="blockquote">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</blockquote>

                <h3>Test Panel</h3>
                <div class="panel">
                    <div class="panel-title">
                        <span class="label">T1</span> Aenean mattis metus quis finibus bibendum
                    </div>
                    <div class="panel-body">
                        <p>Vestibulum lobortis porttitor nibh at cursus. Sed id ornare arcu, et hendrerit metus. Praesent
                            massa eros, ullamcorper et porta a, consequat id ante. Donec facilisis facilisis sem, faucibus
                            dapibus massa. Nulla facilisi. Morbi volutpat dapibus arcu vitae ullamcorper. Aenean ullamcorper
                            tempor tellus nec mollis. Quisque eget tellus et tortor auctor lobortis ac at erat. Sed vehicula
                            massa sed sollicitudin tempus.</p>
                        <p><a href="#">Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-title">
                        <span class="label">T2</span> Cras pretium eleifend lectus ut tempus
                    </div>
                    <div class="panel-body">
                        <p>In ac lacus maximus eros ultricies eleifend. Cras vitae sollicitudin lectus, ac congue nisi.
                            Vestibulum enim urna, finibus id lacus vitae, tempus imperdiet justo. Interdum et malesuada
                            fames ac ante ipsum primis in faucibus. Etiam quis faucibus purus. Maecenas dui est, dictum
                            imperdiet molestie a, vehicula quis erat. Integer gravida, eros gravida posuere finibus, dui
                            sem finibus felis, in auctor magna diam et nulla.</p>
                        <p><a href="#">Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="alert">
                    Thank you to all our reviewers. This year's <a href="#">Best Reviewers</a> have been identified by area chairs.
                </div>
                <div class="alert">
                    <b>Test sidebar.</b> Donec dui neque, dictum a nibh in, pharetra vehicula nulla. Nulla quis ipsum
                    placerat est efficitur ultricies ut a urna. Sed nec dictum mauris. Suspendisse eu arcu lacus.
                    Curabitur sed nisl turpis. Fusce feugiat turpis id enim auctor dignissim. Sed cursus sapien magna,
                    et consequat quam fermentum id. Aliquam quis magna eu nunc consequat vehicula. Ut congue porta vehicula.
                    Nunc ex tortor, tincidunt sed est a, imperdiet lobortis nisl. Duis et est finibus, lacinia mauris vitae,
                    venenatis ante. Pellentesque vel tellus vitae est consequat congue sit amet in velit. Vestibulum at
                    sapien et orci commodo tempus aliquam vitae mi.
                </div>
            </div>
        </div>
    </div>
</body>
{% include footer.html %}
</html>