---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Venue and Accommodation</h1>
            <!--<p>The NAACL HLT 2018 conference hotel is the same as conference venue, the Hyatt Regency New Orleans. Conference participants receive the following discounted rates:</p>-->
            <!--<ul>-->
                <!--<li>Basic room rate: $219 plus taxes/night</li>-->
            <!--</ul>-->
            <p>We have secured accommodation for participants at NAACL-HLT 2018 discounted rates at the Hyatt Regency New Orleans.</p>
            <p>Located 12 miles (27 minutes) from Louis Armstrong International Airport.</p>
            <p>Complimentary Wi-fi in all guest rooms.</p>
            <p>Single/Double Room: $219, Triple Room: $269, Quad Room: $294.</p>
            <p>Quoted rates will be possible up to 3 days pre- and post-conference, based on hotel availability.</p>
            <p>ACL discounted rates are available through Wednesday, May 9, 2018.  Reservation requests received after the cut-off date will be based on standard room type availability at the contracted group rate.</p>
            <p>To make your hotel reservation at the NAACL-HLT group rate, please click <a href="https://aws.passkey.com/go/ACL2018" target="_blank">here</a>.</p>

            <h2>Student Accommodation</h2>
            <p>We also have booked a small number of rooms specifically for students at the super-discounted rate of $119 per night (1-4 person occupancy). To the extent possible, we encourage students to share rooms.</p>
            <p>The ACL Office will accept your reservation request and make the reservations on your behalf. Room sharing is recommended since only a limited number of rooms are available at the discounted rates. If you would like to share, you will need to specify the total number of people who will be sharing the room including yourself (i.e., yourself plus 1 to 3 others). Please be aware that rooms typically come with two beds so any more than two people may have to share a bed.</p>
            <p>Please complete the <a href="http://naacl2018.org/downloads/2018-NAACL-Student-Accommodation-Request-Form.docx" target="_blank">Student Accommodation Request Form</a> to make your reservation request. We will do our best to honor your request on a first-come first served basis. All requests must be received no later than Sunday, April 22, 2018 by the ACL Office.</p>
            <p>The Holiday Inn Downtown-Superdome is located just minutes from the Hyatt Regency New Orleans (the conference venue).</p>

            <h2>Hotel Information</h2>
            <p><img class="img-fluid" src="images/venue/hyatt_regency_new_orleans.jpg"></p>
            <div class="address-block">
                <p>Hyatt Regency New Orleans,</p>
                <p>601 Loyola Avenue,</p>
                <p>New Orleans, LA 70113</p>
                <p>U.S.A.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert">
                <p>Make your booking at the conference hotel through the link below before Wednesday, May 9, 2018 to receive the discounted conference rate.</p>
                <div style="border-radius: 5px; background-color: #b2b962; padding: 8px; font-weight: 800;"><a href="https://aws.passkey.com/go/ACL2018" target="_blank" style="color: #fff;">Make reservation</a></div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>