---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Venue and Accommodation</h1>
            <p>The NAACL HLT 2018 conference hotel is the same as conference venue, the Hyatt Regency New Orleans. Conference participants receive the following discounted rates:</p>
            <ul>
                <li>Basic room rate: $219 plus taxes/night</li>
            </ul>
            <h2>Hotel Information</h2>
            <p><img class="img-fluid" src="images/venue/hyatt_regency_new_orleans.jpg"></p>
            <div class="address-block">
                <p>Hyatt Regency New Orleans,</p>
                <p>601 Loyola Avenue,</p>
                <p>New Orleans, LA 70113</p>
                <p>U.S.A.</p>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>