---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Visa Invitation Letter</h1>
            <p>Since visa applications can take 1–4 months to be approved, we advise that you apply well in advance. If you require an invitation letter for your visa application, please click on the button below to fill out a request form.</p>
            <p><a href="https://goo.gl/forms/uPAeDnjAlhvOpNva2" target="_blank"><span class="new">Visa Letter Request Form</span></a></p>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
