---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Call for Student Volunteers</h1>
            <p>We seek a limited number of student volunteers for the 2018 Conference of the North American Chapter of the Association for Computational Linguistics - Human Language Technology.</p>
            <p>Volunteers are assigned one full day's work. The work will be divided, probably into two half-day shifts, and the shifts will be scheduled to maximize volunteer access to the conference events. Tasks include assisting at the registration desk, stuffing delegate packs, and providing technical assistance for conference events including tutorials, the main conference, and workshops.</p>
            <p>Preference will be given to students who have papers accepted at the main conference or workshops.</p>
            <p>In return for volunteering work, the students receive free registration to the main conference. Workshops and tutorials are not included, and must be paid for by the student.</p>
            <p><strong>Application deadline</strong>: April 12, 2018</p>
            <p><strong>Notification of acceptance</strong>: April 16, 2018</p>
            <h2>Submission procedure</h2>
            <p>To apply for the Student Volunteer Program, please fill out this grant application form:</p>
            <p><a href="http://goo.gl/forms/4xrDPbROFdSGCa0E2" target="_blank">http://goo.gl/forms/4xrDPbROFdSGCa0E2</a></p>
            <p>All Student Volunteer Award recipients must register for the conference, selecting "I am a Student Volunteer" in the main conference section. Students will be reimbursed by the office manager, Priscilla Rasmussen, after the conference and upon providing original receipts and an accounting of the requested funding (i.e., a business expense report).</p>
            <h2>Contact</h2>
            <p>Student Volunteers Chair</p>
            <p>Lena Reed, University of California, Santa Cruz</p>
            <p>Email: <a href="mailto:lireed@ucsc.edu">lireed@ucsc.edu</a></p>

        </div>
        <div class="col-md-4">
            <div class="alert">
                <p>To apply for the Student Volunteer Program, please fill out this grant application form:</p>
                <div style="border-radius: 5px; background-color: #b2b962; padding: 8px; font-weight: 800;"><a href="http://goo.gl/forms/4xrDPbROFdSGCa0E2" target="_blank" style="color: #fff;">Application Form</a></div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>