---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div id="main" class="container">
    <div class="row">
        <div class="col-12">
            {% include nav.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Workshop List</h1>
            <p>NAACL 2018 has a great line of of workshops covering a wide range of topics.  All workshops will be held June 5 & 6 unless otherwise noted.  Details on deadline and submissions can be found at the individual workshop websites.</p>

            <!--<table></table>-->
            <style>
                ul.workshop-list {
                    list-style: none;
                    padding: 0;
                }
                ul.workshop-list > li {
                    padding: 10px 15px;
                    margin-bottom: 15px;
                    background-color: #fafafa;
                    border-left: 3px solid #eee;
                }
                ul.workshop-list > li:hover {
                    border-left-color: #b2b962;
                }
                ul.workshop-list * .title {
                    font-size: 16px;
                    font-weight: 400;
                    color: #555;
                }
                ul.workshop-list * .body {
                    margin: .7em 0;
                }
                ul.workshop-list * .link::before {
                    content: 'WEBSITE';
                    border-radius: 3px;
                    margin-right: 1em;
                    padding: 3px;
                    color: #fff;
                    background-color: #b2b962;
                    font-size: 11px;
                    font-weight: 600;
                }
            </style>
            <ul class="workshop-list">
                <li>
                    <div class="title">BEA18</div>
                    <div class="body">The 13th Workshop on Innovative Use of NLP for Building Educational Applications, The BEA Workshop is a leading contributor to societal need through NLP innovation for educational technology.</div>
                    <div class="link"><a href="http://www.cs.rochester.edu/~tetreaul/bea13.html"
                                         target="_blank">http://www.cs.rochester.edu/~tetreaul/bea13.html</a></div>
                </li>
                <li>
                    <div class="title">CLPsych18</div>
                    <div class="body">The Fifth Workshop on Computational Linguistics and Clinical Psychology: From Linguistic Signal to Clinical Reality, This workshop focuses on language technology applications in mental and neurological health.</div>
                    <div class="link"><a href="http://clpsych.org/"
                                         target="_blank">http://clpsych.org/</a></div>
                </li>
                <li>
                    <div class="title">Cognitum18</div>
                    <div class="body"> Fourth Workshop on Cognitive Knowledge Acquisition and Applications, Acquire knowledge from text, reason in novel situations, and offer explanations in a Banking Question Answering and Reasoning shared task.</div>
                    <div class="link"><a href="http://cognitum.ws" target="_blank">http://cognitum.ws</a></div>
                </li>
                <li>
                    <div class="title">CRAC18</div>
                    <div class="body">Computational models of Reference, Anaphora and Coreference (CRAC), This workshop will be forum for all types of computational work on the interpretation and annotation of anaphora, coreference and reference.</div>
                    <div class="link"><a href="http://anawiki.essex.ac.uk/dali/crac18/"
                                         target="_blank">http://anawiki.essex.ac.uk/dali/crac18/</a>
                    </div>
                </li>
                <li>
                    <div class="title">Ethics-NLP18</div>
                    <div class="body">Second ACL Workshop on Ethics in Natural Language Processing, The second workshop on ethics in NLP: questions, issues, applications.</div>
                    <div class="link"><a href="http://www.ethicsinnlp.org/"
                                         target="_blank">http://www.ethicsinnlp.org/</a></div>
                </li>
                <li>
                    <div class="title">Fig-Lang18</div>
                    <div class="body">Workshop on Figurative Language Processing, includes a shared task and invited talks on generation of figurative language.</div>
                    <div class="link"><a href="https://sites.google.com/site/figlangworkshop/"
                                         target="_blank">https://sites.google.com/site/figlangworkshop/</a></div>
                </li>
                <li>
                    <div class="title">Gen-Deep18</div>
                    <div class="body">Generalization in the Age of Deep Learning, Inability to generalize means simple examples cause ML systems to fail spectacularly. We propose a venue to build and test generalization.</div>
                    <div class="link"><a href="https://newgeneralization.github.io"
                                         target="_blank">https://newgeneralization.github.io</a></div>
                </li>
                <li>
                    <div class="title">PEOPLES18</div>
                    <div class="body">Second workshop on computational modeling of PEople's Opinions, PersonaLity and Emotions in Social media: Emotions, opinions, personality, demographics in social media: How to equip NLP models to capture their interaction? With what implications?</div>
                    <div class="link"><a href="https://peopleswksh.github.io/"
                                         target="_blank">https://peopleswksh.github.io/</a></div>
                </li>
                <li>
                    <div class="title">SCLeM18</div>
                    <div class="body">Subword and Character LEvel Models in NLP (SCLeM), Character/subword level models are end2end & address noise, sparsity and linguistic diversity.</div>
                    <div class="link"><a href="https://sites.google.com/corp/view/sclem2018/home"
                                         target="_blank">https://sites.google.com/corp/view/sclem2018/home</a> </div>
                </li>
                <li>
                    <div class="title">SemBEaR18</div>
                    <div class="body">Computational Semantics Beyond Events and Roles, Intricate semantic phenomena such as negation, modality, factuality, attribution, irony and sarcasm.</div>
                    <div class="link"><a href="http://www.cse.unt.edu/sembear2018/"
                                         target="_blank">http://www.cse.unt.edu/sembear2018/</a></div>
                </li>
                <li>
                    <div class="title">SemEval-2018</div>
                    <div class="body">The 12th International Workshop on Semantic Evaluation, SemEval 2018 invites participation in a broad range of semantic analysis tasks.</div>
                    <div class="link"><a href="http://alt.qcri.org/semeval2018/"
                                         target="_blank">http://alt.qcri.org/semeval2018/</a></div>
                </li>
                <li>
                    <div class="title">SpLU18</div>
                    <div class="body">Spatial Language Understanding, SpLU covers spatial language meaning representation, learning, semantic extraction, mapping to qualitative reasoning models, multi-modality.</div>
                    <div class="link"><a href="https://spatial-language.github.io"
                                         target="_blank">https://spatial-language.github.io</a></div>
                </li>
                <li>
                    <div class="title">*SEM 2018</div>
                    <div class="body">*SEM brings together researchers interested in the semantics of natural languages and its computational modeling. The conference embraces symbolic and probabilistic approaches, and everything in between; theoretical contributions as well as practical applications are welcome in the form of long and short papers.</div>
                    <div class="link"><a href="https://sites.google.com/view/starsem2018"
                                         target="_blank">https://sites.google.com/view/starsem2018</a></div>
                </li>
                <li>
                    <div class="title">Story-NLP18</div>
                    <div class="body">Workshop on Storytelling, Work on teaching computers to understand & generate human-like stories! One step in creating intelligence that’s complementary to humans.</div>
                    <div class="link"><a href="http://www.visionandlanguage.net/workshop2018/" target="_blank">http://www.visionandlanguage.net/workshop2018/</a></div>
                </li>
                <li>
                    <div class="title">Style-Var18</div>
                    <div class="body">2nd Workshop on Stylistic Variation, Enabling a discussion of shared issues across the many instantiations of stylistic difference across research fields.</div>
                    <div class="link"><a href="https://sites.google.com/view/2ndstylisticvariation/home"
                                         target="_blank">https://sites.google.com/view/2ndstylisticvariation/home</a></div>
                </li>
                <li>
                    <div class="title">TextGraphs</div>
                    <div class="body">Workshop on Graph-Based Methods for Natural Language Processing, The TextGraphs is a workshop series promoting the synergies between the field of Graph Theory and Natural Language Processing.</div>
                    <div class="link"><a href="https://sites.google.com/view/textgraphs2018"
                                         target="_blank">https://sites.google.com/view/textgraphs2018</a></div>
                </li>
                <li>
                    <div class="title">WiNLP18</div>
                    <div class="body">Widening NLP (WiNLP) 2018, We are here to increase awareness of the work URGs do, support URGs in pursuing their research &amp; motivate long-term resources within ACL (Note: will be held June 1).</div>
                    <div class="link"><a href="http://www.winlp.org/"
                                         target="_blank">http://www.winlp.org/</a></div>
                </li>
            </ul>
        </div>
</div>
{% include footer.html %}
</body>
</html>
