<!-- Header Block -->
<div id="header">
    <div id="header-pattern"></div>
    <img id="header-title" width="600" class="img-fluid mx-auto d-block" src="{{ site.baseurl }}/images/banner_title_serif.png"/>
    <!--<div id="header-desc">-->
        <!--<p>New Orleans, Louisiana | June 1 - June 6, 2018</p>-->
    <!--</div>-->
    <div id="header-license">Photo by <a href="https://flic.kr/p/W5Gky3" target="_blank" style="color: inherit;">Peyton Stanton</a> | <a href="https://creativecommons.org/licenses/by-nc/2.0/" target="_blank" style="color: inherit;">CC BY-NC 2.0</a></div>
</div>
