<div id="date-table-wrapper">
    <h3>Important Dates</h3>
    <br/>
    <table id="important-dates" class="table table-condensed">
        <tr class="pass"><td>Workshop Proposal Submission Deadline</td>
            <td>October 22, 2017</td>
        </tr>
        <tr class="pass"><td>Workshop Notification of Acceptance</td>
            <td>November 17, 2017</td>
        </tr>
        <tr><td>Long Paper Deadline</td>
            <td>December 15, 2017</td>
        </tr>
        <tr><td>Tutorial Submission Deadline</td>
            <td>January 20, 2018</td>
        </tr>
        <tr><td>Author Response</td>
            <td>January 25, 2018</td>
        </tr>
        <tr><td>Short Paper Deadline</td>
            <td>January 10, 2018</td>
        </tr>
        <tr><td>Tutorial Notification</td>
            <td>February 1, 2018</td>
        </tr>
        <tr><td>Long Paper Notification</td>
            <td>February 13-14, 2018</td>
        </tr>
        <tr><td>Industry Track Papers Submission Deadline</td>
            <td>February 20, 2018</td>
        </tr>
        <tr><td>Demo Papers Submission Deadline</td>
            <td>February 24, 2018</td>
        </tr>
        <tr><td>Short Paper Notification</td>
            <td>February 28, 2018</td>
        </tr>
        <tr><td>Industry Track Acceptance Notification</td>
            <td>March 25, 2018</td>
        </tr>
        <tr><td>Demo Paper Acceptance Notification</td>
            <td>March 31, 2018</td>
        </tr>
        <tr><td>Final Version Submission Deadline (Industry Track and Demo Paper)</td>
            <td>April 15, 2018</td>
        </tr>
        <tr><td>Final Version Submission Deadline (Research Track)</td>
            <td>April 16, 2018</td>
        </tr>
        <tr><td>Tutorial<br/>(1 day)</td>
            <td>June 1, 2018</td>
        </tr>
        <tr><td>Main Conference<br/>(3 days)</td>
            <td>June 2-4, 2018</td>
        </tr>
        <tr><td>Workshops<br/>(2 days)</td>
            <td>June 5-6, 2018</td>
        </tr>
    </table>
    <p><small>* <em>All deadlines are 11:59pm <a href="https://www.timeanddate.com/time/zones/aoe" target="_blank">anywhere</a> in the world</em>, which means that depending on your time zone you may have a lot more time to finish. For example, if you are on EST, you have an extra 7 hours to submit since EST is GMT-5 and the "anywhere in the world" zone is GMT-12.</small></p>
</div>