<div id="date-table-wrapper">
    <h3>Important Dates</h3>
    <br/>
    <table id="important-dates" class="table table-condensed">
        <tr><td>Workshop proposal submission deadline</td>
            <td>October 22, 2018</td>
        </tr>
        <tr><td>Workshop notification of acceptance</td>
            <td>November 17, 2018</td>
        </tr>
        <tr><td>Long Paper Deadline</td>
            <td>December 15, 2017</td>
        </tr>
        <tr><td>Author Response</td>
            <td>January 25, 2018</td>
        </tr>
        <tr><td>Short Paper Deadline</td>
            <td>January 10, 2018</td>
        </tr>
        <tr><td>Long Paper Notification</td>
            <td>February 13-14, 2018</td>
        </tr>
        <tr><td>Short Paper Notification</td>
            <td>February 28, 2018</td>
        </tr>
        <tr><td>Tutorial<br/>(1 day)</td>
            <td>June 1, 2018</td>
        </tr>
        <tr><td>Main Conference<br/>(3 days)</td>
            <td>June 2-4, 2018</td>
        </tr>
        <tr><td>Workshops<br/>(2 days)</td>
            <td>June 5-6, 2018</td>
        </tr>
    </table>
    <p><small>* <em>All deadlines are <mark>11:59PM Pacific Standard Time (GMT-8)</mark> (anywhere in the world).</em></small></p>
</div>