<nav id="navigator" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page.path == '' or page.path == 'index.html' %}active{% endif %}">
                <a class="nav-link" href="/">Welcome</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-call" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Calls
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-call">
                    <a class="dropdown-item" href="/call_for_paper.html">Call for Papers - Research Track</a>
                    <a class="dropdown-item" href="/industry.html">Call for Papers - Industry Track</a>
                    <a class="dropdown-item" href="/call_for_tutorial.html">Call for Tutorials</a>
                    <a class="dropdown-item" href="/call_for_demo.html">Call for Demonstrations</a>
                    <!--<a class="dropdown-item" href="/workshops.html">Workshops</a>-->
                    <a class="dropdown-item" href="https://naacl2018-srw.github.io/" target="_blank">Student Research Workshop</a>

                </div>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link {% if page.path == 'pc_blog.html' %}active{% endif %}" href="/chairs_blog.html">NAACL HLT Chairs Blog</a>-->
                <a class="nav-link" href="https://naacl2018.wordpress.com/" target="_blank">Chairs Blog</a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link {% if page.path == 'keynote.html' %}active{% endif %}" href="/keynote.html">Keynote</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link {% if page.path == 'workshops.html' %}active{% endif %}" href="/workshops.html">Workshops</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-program" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Program</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-participants">
                    <a class="dropdown-item" href="/keynote.html">Keynote Speeches</a>
                    <span class="dropdown-item" style="color: #ccc;">Main Conference</span>
                    <!--<a class="dropdown-item" href="/workshops.html">Workshop</a>-->
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-participants" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Participants</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-participants">
                    <a class="dropdown-item" href="/venue.html">Venue</a>
                    <a class="dropdown-item" href="/local_info.html">Local Information for Visitors</a>
                </div>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link {% if page.path == 'venue.html' %}active{% endif %}" href="/venue.html">Venue</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link {% if page.path == 'sponsor.html' %}active{% endif %}" href="/sponsor.html">Sponsorship Opportunities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.path == 'organization.html' %}active{% endif %}" href="/organization.html">Organization</a>
            </li>
        </ul>
    </div>
</nav>
