<!--<div class="container">-->
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded"
         style="background-color: #fff; text-align: center; height: 60px;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<a class="navbar-brand" href="#">NAACL HLT</a>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Welcome</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Calls
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Call for Paper</a>
                        <a class="dropdown-item" href="#">Call for Tutorial</a>
                        <a class="dropdown-item" href="#">Call for Demonstration</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PC Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Organization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sponsors</a>
                </li>
            </ul>
        </div>
    </nav>
<!--</div>-->